.ConfirmModalContentContainer {
  min-width: 400px;
  color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ConfirmModalHeaderContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ConfirmModalTitle {
  font-size: var(--font-l);
  color: #EC6B54;
  text-align: center;
  margin-top: 20px;
  font-family: "Brandon Med";
}

.ConfirmModalSubtitle {
  font-size: var(--font-s);
  text-align: center;
  width: 400px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Brandon Regular";
  margin-right: 50px;
  margin-left: 50px;
}

.ConfirmModalError {
  font-size: var(--font-xs);
  color: #EC6B54;
}

.ConfirmModalClose {
  height: 20px;
  width: 20px;
  display: flex;
  align-self: flex-end;
  margin: 25px;
  margin-bottom: 0px;
}

.ConfirmModalClose:hover {
  cursor: pointer;
}

.ConfirmModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
}

.ConfirmModalButtonsContainer {
  display: flex;
  flex-direction: row;
}

.ConfirmModalButton {
  border-radius: 5px;
  width: 80px;
  height: 40px;
  margin: 40px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ConfirmModalButton:hover {
  cursor: pointer;
}

.ConfirmModalCancelButton {
  background-color: #EEEEEE;
  color: #ACACAC;
  border: 1.5px solid #ACACAC;
}

.ConfirmModalActionButton {
  background-color: #FFEEEC;
  color: #E85136;
  border: 1.5px solid #E85136;
}
