/* Container */
.HeaderContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  padding-right: 100px;
  padding-left: 100px;
  height: 50px;
}

.HeaderContainerLoggedIn {
  justify-content: space-between;
}

.HeaderContainerLoggedOut {
  justify-content: space-between;
}

/* Nav Menu */
.HeaderNavMenu {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.HeaderNavMenuLoggedIn {
  flex: 2;
}

.HeaderNavMenuLoggedOut div {
  margin-left: 50px;
}

.HeaderNavMenu div {
  color: var(--main-light);
  font-size: var(--font-s);
}

.HeaderNavMenu div:hover {
  cursor: pointer;
}

.HeaderHomeButton {
  color: var(--main-light);
  font-size: var(--font-s);
  font-family: 'Brandon Black', sans-serif;
  align-self: flex-start;
  border: 3px solid var(--main-light);
  padding: 8px 15px;
}

.HeaderHomeButton:hover {
  cursor: pointer;
}

/* Element Features */
.Black {
  font-family: 'Brandon Black', sans-serif;
}

.spacer {
  display: flex;
  flex: 4;
  margin-right: 100px;
}