body {
    overflow-x: hidden; /* For when it's hidden, don't scroll */
}

.Notification {
  position: fixed;
  z-index: 100;
  right: 25px;
  bottom: 25px;
  border-radius: 5px;
  background-color: #FCFCFC;
  color: #333333;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
  width: 300px;
  transition: opacity 0.5s ease-in;
}

.Notification p {
  font-size: var(--font-xs);
  font-family: 'Brandon Med';
  margin: 0px 12px;
}

.Show {
  opacity: 1;
  z-index: 100;
}

.Hide {
  opacity: 0;
  z-index: -100; /* So that hover works on elements "behind" it */
}

.IconImg {
  height: 20px;
}

.ExitImg {
  height: 15px;
  margin-left: auto;
}

.ExitImg:hover {
  cursor: pointer;
}
