.Search {
  display: flex;
  flex: 4;
  margin-right: 100px;
}

.Search img {
  height: 20px;
  position: absolute;
  align-self: center;
  margin-left: 15px;
}

.Search img:hover {
  cursor: pointer;
}

.Search input {
  border: none;
  box-sizing: border-box;
  flex: 1;
  padding-left: 50px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: transparent;
  color: var(--main-light);
  font-size: var(--font-s);
  border-radius: 3px;
  line-height: 25px;
}

.Search input:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.08);
}

.Search input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--main-light);
  opacity: 1; /* Firefox */
}