.SongContainer {
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
}

.SongDetailsContainer {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  justify-content: center;
}

.SongDetailsTitle {
  color: var(--main-light);
  font-size: var(--font-m);
  font-family: 'Brandon Bold';
  margin: 0px;
}

.SongDetailsArtist {
  color: var(--main-light);
  font-size: var(--font-s);
  font-family: 'Brandon Regular';
  margin: 0px;
  margin-top: 5px;
}

.SongImg {
  height: 100px;
}

/* Overrides for the small version */
.SongContainer-S { width: 250px; margin-right: 20px; }
.SongDetailsTitle-S { font-size: var(--font-s); max-height: 60px; }
.SongDetailsArtist-S { font-size: var(--font-xxs); }
.SongImg-S { height: 70px; }
.SongImgContainer-S { height: 70px; } /* Not sure why this needs to be specified */

/* Specific functionality for SearchResults */
/* Maybe this should be based on functionality rather than size??? */
.SongContainer-S:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}
