.SearchResults {
  padding-bottom: 80px;
}

.SearchResultsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ReplaceSongModalContentContainer {
  min-width: 400px;
  color: #222;
}

.ReplaceSongModalHeaderContainer {
  background-color: #DA6990;
  display: flex;
  flex-direction: column;
}

.ReplaceSongModalSongsContainer {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.ReplaceSongCloseModal {
  height: 20px;
  width: 20px;
  display: flex;
  align-self: flex-end;
  margin: 25px;
  margin-bottom: 0px;
}

.ReplaceSongCloseModal:hover {
  cursor: pointer;
}

.ReplaceSongModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
}

.ReplaceSongModalTitle {
  color: #FFFFFF;
  text-align: center;
  margin-top: 0px;
  font-family: "Brandon Regular";
}

.ReplaceButton {
  color: #EF4B47;
  border: 1px solid #EF4B47;
  font-size: 11px;
  padding: 5px 8px;
  font-family: "Brandon Bold";
  border-radius: 15px;
  display: inline-block;
  margin-right: 10px;
}

.ReplaceButton:hover {
  cursor: pointer;
  background-color: #EF4B47;
  color: #FFFFFF;
}

.ReplaceSongModalSongContainer {
  align-items: center;
  margin: 12px 0px;
}