:root {
  --main-dark: #222222;
  --main-light: #FFFFFF;
  --main-highlight: #FCFF2B;
  --light-red: #EC6B54;
  --dark-red: #E85136;
  --font-xxs: 12px;
  --font-xs: 15px;
  --font-s: 18px;
  --font-m: 25px;
  --font-l: 30px;
  --font-xl: 50px;
  --font-xxl: 80px;
}

@font-face {
  font-family: 'Brandon Regular';
  src: local('Brandon_reg'), url(../fonts/Brandon_reg.otf) format('opentype');
}

@font-face {
  font-family: 'Brandon Med';
  src: local('Brandon_med'), url(../fonts/Brandon_med.otf) format('opentype');
}

@font-face {
  font-family: 'Brandon Bold';
  src: local('Brandon_bld'), url(../fonts/Brandon_bld.otf) format('opentype');
}

@font-face {
  font-family: 'Brandon Black';
  src: local('Brandon_blk'), url(../fonts/Brandon_blk.otf) format('opentype');
}

* {
  font-family: 'Brandon Med', sans-serif;
}

/* Main Stuff */

.Home {
  display: flex;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.MainContentContainer {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Page Container */
.PageContainer {
  padding: 0px 150px;
  padding-bottom: 100px;
}

/* Responsiveness */

@media screen and (max-width: 1100px) {
  .Search {
    flex: 2;
  }

  .spacer {
    flex: 2;
  }

  .PageContainer {
    padding: 0px 100px;
  }
}

@media screen and (max-width: 900px) {
  .HeaderContainer {
    flex-direction: column-reverse;
    height: auto;
    align-items: stretch;
  }

  .Search {
    margin-right: 0px;
    margin-top: 30px;
  }

  .UserViewContainer {
    width: 150px;
  }

  /* There is a UserProfileHeaderContainer media query in its own CSS */
}

@media screen and (max-width: 600px) {
  .PageContainer {
    padding: 0px 70px;
  }

  .HeaderContainer {
    padding: 0px 70px;
  }

  .ProfileListSectionContainer {
    width: 200px;
  }
}