:root {
  --main-dark: #222222;
  --main-light: #FFFFFF;
  --main-highlight: #FCFF2B;
  --light-red: #EC6B54;
  --dark-red: #E85136;
  --font-xxs: 12px;
  --font-xs: 15px;
  --font-s: 18px;
  --font-m: 25px;
  --font-l: 30px;
  --font-xl: 50px;
  --font-xxl: 80px;
}

@font-face {
  font-family: 'Brandon Regular';
  src: local('Brandon_reg'), url(../fonts/Brandon_reg.otf) format('opentype');
}

@font-face {
  font-family: 'Brandon Med';
  src: local('Brandon_med'), url(../fonts/Brandon_med.otf) format('opentype');
}

@font-face {
  font-family: 'Brandon Bold';
  src: local('Brandon_bld'), url(../fonts/Brandon_bld.otf) format('opentype');
}

@font-face {
  font-family: 'Brandon Black';
  src: local('Brandon_blk'), url(../fonts/Brandon_blk.otf) format('opentype');
}

* {
  font-family: 'Brandon Med', sans-serif;
}

/* Main Stuff */

.Home {
  display: flex;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.MainContentContainer {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Page Container */
.PageContainer {
  padding: 0px 150px;
}
