.Login {
  background-color: #F9F9F9;
  display: flex;
  height: 100vh;
  flex-direction: column;
  flex: 1;
  align-items: center;
  color: #333;
}

.Signup {
  background-color: #F9F9F9;
  display: flex;
  height: 100vh;
  flex-direction: column;
  flex: 1;
  align-items: center;
  color: #333;
}

.LoginSignupTitle {
  margin-top: 100px;
}

.FormContainer {
  border: 1px solid #D8DEE2;
  width: 250px;
  border-radius: 5px;
  padding: 20px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

.InputTitle {
  margin-bottom: 5px;
}

.FormInput {
  flex: 1;
  font-size: var(--font-xs);
  padding: 5px 10px;
  border-radius: 2px;
  border: 1px solid #D8DEE2;
  line-height: 5px;
  font-family: 'Brandon Regular';
}

input:focus {
  outline: none;
}

.SubmitButton {
  background: linear-gradient(85deg, #d53369 0%, #daae51 100%);  box-sizing: border-box;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 5px;
  flex: 1;
  font-size: var(--font-xs);
  text-align: center;
  margin-top: 20px;
  border: none;
}

.SubmitButton:hover {
  background: linear-gradient(90deg, #BE2B5C 0%, #CDA349 100%);  box-sizing: border-box;
  cursor: pointer;
}

.ErrorMessage {
  margin: 0;
  color: #FC615D;
  font-size: var(--font-xs);
}

.NewHereContainer {
  border: 1px solid #D8DEE2;
  width: 250px;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.CreateAnAccountLink {
  color: #1269D3;
  font-family: 'Brandon Regular';
  margin-left: 5px;
}

.CreateAnAccountLink:hover {
  cursor: pointer;
  text-decoration: underline;
}