.UserProfile {
  display: flex;
  margin: 0px;
  padding: 0px;
  padding-top: 50px;
  border: 0px;
  color: var(--main-light);
  flex-direction: column;
}

.Their3Title {
  color: var(--main-highlight);
  font-size: var(--font-xl);
  font-family: 'Brandon Black';
  margin: 20px 0px;
}

.UserProfileHeaderContainer {
  margin-top: 20px;
}

@media screen and (max-width: 900px) {
  .UserProfileHeaderContainer {
    margin-top: 50px;
  }
}

.UserProfileInfoText {
  font-family: 'Brandon Bold';
  font-size: var(--font-xs);
  margin: 10px 0px;
}

.UserProfileUsername {
  font-family: 'Brandon Black';
  font-size: var(--font-xl);
  margin: 0px;
}

.FollowButton {
  margin: 20px 0px;
  border: 2px solid var(--main-light);
  border-radius: 100px;
  width: 80px;
  padding: 7px 20px;
  font-size: var(--font-xxs);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Brandon Bold';
}

.FollowButtonNotFollowing {
  color: var(--main-light);
}

.FollowButtonNotFollowing:hover {
  cursor: pointer;
  background-color: var(--main-light);
  color: var(--main-dark);
}

.FollowButtonFollowing {
  background-color: var(--main-light);
  color: var(--main-dark);
}

.FollowButtonFollowing:hover {
  cursor: pointer;
  background-color: var(--main-dark);
  color: var(--main-light);
}